#boxOverdraft{
    visibility: hidden;
}

body {
    background-color: #e2d4ba;
    text-align: center;
    background-image: url("PhotoBank2.jpg");
    background-size: cover;
}

h1 {
    color: #653239;
    text-align: center;
}
button {
    background-color: #af7a6d;
    color: #e2d4ba;
    font-weight: 700;
    font-size: small;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
         


